@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.max-w-591 {
    max-width: 591px;
}

.max-w-1140 {
    max-width: 1140px;
}

.max-w-1320 {
    max-width: 1320px;
}

/***** margin & padding *****/
.mt-26 {
    margin-top: 26px;
}

.mb-27 {
    margin-bottom: 27px;
}

.pt-29 {
    padding-top: 29px;
}

.pt-31 {
    padding-top: 31px;
}

.mb-38 {
    margin-bottom: 38px;
}

.pt-42 {
    padding-top: 42px;
}

.pb-58 {
    padding-bottom: 58px;
}

.mt-66 {
    margin-top: 66px;
}

.mb-66 {
    margin-bottom: 66px;
}

.pb-68 {
    padding-bottom: 68px;
}

.mt-73 {
    margin-top: 73px;
}

.pt-73 {
    padding-top: 73px;
}

.mb-97 {
    margin-bottom: 97px;
}

.pb-106 {
    padding-bottom: 106px;
}

.py-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.py-114 {
    padding-top: 114px;
    padding-bottom: 114px;
}

/***** gap property *****/
.gap-38 {
    gap: 38px;
}

/***** nav-bar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.navbar-link:hover {
    color: var(--color-bloodmyst-isle) !important;
}

.btn-1 {
    padding: 12px 32px 12px 32px;
    border-radius: 10px;
    border: none;
}

.opacity-80 {
    opacity: 80%;
}

/***** header *****/
.bg-img {
    background-image: url(../image/png/burgers-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.btn-2 {
    padding: 15px 32px 15px 32px;
    border-radius: 10px;
    border: 1px solid var(--color-bloodmyst-isle)
}

.btn-2:hover {
    background-color: var(--color-white);
    color: var(--color-bloodmyst-isle) !important;
}

/***** timeline *****/
.bg-img-2 {
    background-image: url(../image/png/timeline-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.timeline {
    position: relative;
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: #f43c1a;
    top: 4%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 71.5%;
}


.content-box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 60%;
}


.content-box::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -19px;
    background-color: white;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -10%;
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.content {
    padding: 27px 23px 27px 23px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: aqua !important;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 31px;
    }

    .content-box {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline {
        width: 100%;
    }

    .content-box::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .left {
        left: 0%;
    }
}